@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

title{
    font-family: 'Elsie',cursive;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1150px;
    min-width: 1140px;
}

.Section-1{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0%;
    background-image: linear-gradient(to right top, #83c6ad, #79c2ac, #70beac, #66baac, #5cb6ac, #4faba8, #44a0a4, #3b959f, #348192, #316d82, #2f5a70, #2c475d);
}

/*Navigation Bar*/
.Nav-Bar{
    background: #122861;
  height: 65px;
}

.logo{
    position: absolute;
    margin-left: 5%;
  margin-top:-15px;
}


.topnav-right{
    float:right;
    margin-right: 2%;
  height: 65px;
}

a.topnav-left {
    position: absolute;
    left: 13.5%;
    top: 3%;
    font-family: 'Elsie', cursive;
    font-size: 30px;
    text-decoration: none;
    color:#fff;
}

.Navigation-Bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Navigation-Bar li {
    float: left;
  height: 100%;
}

.Navigation-Bar li a {
    display: block;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: #fff;
    padding: 9px 16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
}

.Navigation-Bar li:hover{
    background-color: #ADDAEF;
    border-radius: 5px;
}

.Navigation-Bar li:hover a{
    color: #4372E8;
}
.Content{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 100%;
}

.Content-text{
    position: absolute;
    top: 56%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.Content-text h1{
    font-family: 'Elsie', cursive;
    color: rgb(255, 166, 0);
    font-size: 85px;
    font-weight: lighter;
    margin-top: 1%;
    margin-bottom: 0%;
}

.Content-text a{
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
    font-weight: lighter;
    font-size: 18px;
    color:rgb(253, 253, 253);
    float: left;
}

.Content-text p{
    font-family: 'Source Serif Pro', serif;
    font-weight: lighter;
    font-size: 18px;
    color:rgb(253, 253, 253);
    margin-top: 0px;
}
.image{

    position: absolute;
    width: 100%;
    background: rgb(0,0,0,0.4);
    height: 365px;
}
.image-overlay{
    background-image: url("https://img2.imgtp.com/2024/04/02/BnPwgxEN.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    position: relative;
}


/*Section 2*/
.Section-2{
    display: inline-block;
    position: relative;
    background-image: url("https://img2.imgtp.com/2024/04/02/AdOQ8nUA.jpg");
    background-size: 100% 110%;
    height: 450px;
    width: 100%;
}

.AboutDetails h1{
    font-family: 'EB Garamond', serif;
    color:  #E5BEBB;
    font-size: 35px;
    position: absolute;
    margin-left: 5%;
    padding-top: 35px;
}

.AboutDetails img{
    transform: rotate(70deg);
    position: absolute;
    margin-left: 2.5%;
    margin-top: 0.6%;
}

.AboutContent{
    position: absolute;
    margin-top: 9%;
    margin-right: 53%;
    margin-left: 5%;
}

.AboutContent p, li{
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    text-align: justify;
    color: white;
}

.Aboutimg{
    position: absolute;
    margin-left: 51.5%;
    margin-top: 4.5%;
}

.Aboutimg img{
    border-top-left-radius: 110px 19px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 23px 130px;
    border-bottom-right-radius: 120px 24px;
    border: solid 3px rgb(112, 24, 4);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

/*Section-3*/
.Section-3{
    display: inline-block;
    position: relative;
  background: -webkit-linear-gradient(360deg, #2f5ba4,#040d18);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(360deg, #2f5ba4,#040d18);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 340px;
    width: 100%;
    margin-top: -5px;
}

.GoalsDetail h1{
    font-family: 'Source Serif Pro', serif;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    color:#fff;
    margin-top: 5%;
    letter-spacing: 0.3em;
    margin-bottom: 0;
}

.GoalsDetail h2{
    font-family: 'EB Garamond', serif;
    color: #AF625A;
    font-size: 35px;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0;
    position: absolute;
    margin-left: 31.5%;
}

.GoalsDetail img{
    margin-left: 46%;
    margin-top: 2.5%;
    position: absolute;

}

.GoalsDetail p{
    position: absolute;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    color: #fff;
}

/*Section 4*/
.Section-4{
    display: inline-block;
    position: relative;
    height: 450px;
    width: 100%;
  background: -webkit-linear-gradient(180deg, #2f5aa2,#545788);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #2f5aa2,#545788);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   margin-bottom: -10px; /* Adjust as needed to remove the gap */
}

.GoalPoints{
    margin-top: 4%;
    margin-left: 2%;
}

.GoalPoints h1{
    font-family: 'EB Garamond', serif;
    color: #fff;
    font-size: 35px;
    position: absolute;
    margin-left: 4%;
    margin-top: 4%;
}

.GoalPoints img{
    transform: rotate(70deg);
    position: absolute;
    margin-left: 2.5%;
    margin-top: 0;
}

.GoalPoints p{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-top: 9.5%;
    margin-right: 47%;
    margin-left: 3%;
    color: white;
}

.Goalsimg img{
    position: absolute;
    margin-left: 56%;
    margin-top: 8%;
    border-radius: 2px;
    border: solid 3px rgb(112, 24, 4);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

/*Section 5*/
.Section-5{
    display: inline-block;
    position: relative;
    height: 450px;
    width: 100%;
    background: -webkit-linear-gradient(180deg, #545788,#2f5aa2);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg,#545788,#2f5aa2);
    margin-top: -5px;
    margin-bottom: -10px; /* Adjust as needed to remove the gap */
}
.GoalPoints.Point-2{
    margin-top: 2%;
}
.GoalPoints.Point-2 h1{
    margin-top: 7.5%;
    margin-left: 75%;
    padding-left: 75px;
}
.GoalPoints.Point-2 img{
    margin-left: 14%;
}
.GoalPoints.Point-2 p{
    margin-left: 46%;
    margin-right: 4%;
    margin-top: 12%;
}

.Goalsimg.img2 img{
    margin-left: 5%;
    margin-top: 8%;
}

/*Section 6*/
.Section-6{
    display: inline-block;
    position: relative;
    height: 450px;
    width: 100%;
    background: -webkit-linear-gradient(360deg, #040d18,#2f5ba4);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(360deg, #040d18,#2f5ba4);
    margin-bottom: -10px;
}
.GoalPoints.Point-3{
    margin-top: 0%;
}
.GoalPoints.Point-3 p{
    margin-top: 10%;
    color: white;
}
.Section-61 {
    display: inline-block;
    position: relative;
    height: 450px;
    width: 100%;
    background: #06111F;
}
.GoalPoints.Point-2{
    margin-top: 0%;
}
.GoalPoints.Point-2 h1{
    margin-top: 5%;
    margin-left: 65%;
    color: white;
}
.GoalPoints.Point-2 p{
    margin-top: 10%;
    color: white;
}
/*Section 7*/
.Section-7{
    display: inline-block;
    position: relative;
    height: 520px;
    width: 100%;
    margin-top: -5px;
}
:root {
    --image-comparison-slider-width: min(1148vw, 1148px);
    --image-comparison-slider-handle-width: 50px;
  }

#image-comparison-slider {
    position: relative;
    width: var(--image-comparison-slider-width);
    overflow: hidden;
    cursor: col-resize;
}

#image-comparison-slider img {
    display: block;
    width: var(--image-comparison-slider-width);
    height: 520px;
    max-height: 520px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

#image-comparison-slider .img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transform: translateZ(0); /* This is in order to fix a Firefox bug, related to the 3D tilt effect */
    transition: 0.25s cubic-bezier(.03,.98,.52,.99);
}

#image-comparison-slider .img-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#image-comparison-slider .label {
    position: absolute;
    top: 1rem;
    z-index: 3;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
    opacity: 0;
    transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
}
#image-comparison-slider:hover .label {
    opacity: 1;
}
#image-comparison-slider .label.label-before {
    left: 1rem;
}
#image-comparison-slider .label.label-after {
    right: 1rem;
    background-color: rgb(112, 24, 4);
}
#image-comparison-slider .handle {
    position: absolute;
    top: 0;
    left: calc(50% - var(--image-comparison-slider-handle-width)/2);
    width: var(--image-comparison-slider-handle-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 2;
    transition: 0.25s cubic-bezier(.03,.98,.52,.99);
}

#image-comparison-slider .handle-line {
    width: 2px;
    flex-grow: 1;
    background-color: rgb(255, 251, 233);
}

#image-comparison-slider .handle-circle {
    width: var(--image-comparison-slider-handle-width);
    height: var(--image-comparison-slider-handle-width);
    color: rgb(255, 251, 233);
    border: 2px solid rgb(255, 251, 233);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(112, 24, 4, 0.8);
  }

@media (max-width: 768px) {
    :root {
      --image-comparison-slider-width: 90vw;
    }
}

/*Section 8*/
.Section-8{
    display: inline-block;
    position: relative;
    background-color: #06111F;
    height: 190px;
    width: 100%;
    margin-top: -5px;
  }

.FooterCap h1{
    font-family: 'Fjalla One', sans-serif;;
    color: rgb(255, 251, 233);
    text-align: center;
    font-size: 35px;
    position: absolute;
    margin-left: 30%;
    margin-top: 6.5%;
}
.FooterCap img{
    position: absolute;
    margin-top: 0;
    margin-left: 6%;
}
.image1{
    position: absolute;
    width: 100%;
    background: rgb(0,0,0,0.18);
    height: 190px;
}

/*Section 8 Footer*/
.Section-9{
    display: inline-block;
    position: relative;
    background-color: rgb(112, 24, 4);
    height: 320px;
    width: 100%;
    margin-top: -5px;
  }

  .Section-9 img{
    position: absolute;
    margin-top: 1%;
  }

  .overlay{
    background: rgba(0, 0, 0, 0.3);
    height: 320px;
  }

  .Column{
    height: 60%;
    width: 35%;
    margin-top: 4.5%;
    margin-left: 4%;
    display: inline-block;
    position: absolute;
    z-index: 9;
  }
  .Column.Column-2{
    width: 14%;
    margin-left: 40.5%;
  }
  .Column.Column-3{
    width: 21%;
    margin-left: 56%;
  }
  .Column.Column-4{
    width: 17%;
    margin-left: 78.5%;
    margin-right: 4%;
  }

  .footer-h1{
    margin-top: 0;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    color: rgb(255, 251, 233);
  }

  .Column-1 p{
    font-family: 'EB Garamond', serif;
    color: rgb(255, 251, 233);
    font-size: 18px;
    text-align: justify;
    margin-right: 5%;
  }

  .Column-2 a{
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    color: rgb(255, 251, 233);
    margin-top: 4%;
  }

  .Column-2 a:hover{
    text-shadow: 1px 1px 2px white;
  }

  .Column-2 p{
    margin-top: 0;
    margin-bottom: 5px;
  }

  .Column-3 p{
    color: rgb(255, 251, 233);
    font-family: 'EB Garamond', serif;
    font-size: 18px;
  }

  .Column-4{
    text-align: center;
  }

  .Column-4 a{
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    color: white;
    padding: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 100%;
  }

/*Sections Animations*/
section{
    position: relative;
  }
  section:nth-child(1){
    height: 524px;
  }
  section:nth-child(2){
    height: 450px;
    background: rgb(255, 251, 233);
  }
  section:nth-child(3){
    height: 340px;

  }
  section:nth-child(4){
    height: 450px;
    background: rgb(255, 251, 233);
  }
  section:nth-child(5){
    height: 450px;
  }
  section:nth-child(6){
    height: 450px;
  }
  section:nth-child(7){
    height: 520px;
  }
  section:nth-child(8){
    height: 190px;
  }
  section:nth-child(9){
    height: 320px;
  }

/*Section Content Animation*/
.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-top {
    animation: fade-top 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  .Statistic-Para.reveal{
    position: absolute;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
