@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

title{
  font-family: 'Elsie',cursive;
}

body{
  margin: 0px auto 0px auto;
  max-width: 1150px;
  min-width: 1140px;
}

b{
  color: rgb(255, 166, 0);
}

/*Navigation Bar*/
.Nav-Bar{
    background: #122861;
  height: 65px;
}

.logo{
    position: absolute;
    margin-left: 5%;
  margin-top:-15px;
}

.topnav-right{
    float:right;
    margin-right: 2%;
  height: 65px;
}

a.topnav-left {
    position: absolute;
    left: 12.5%;
    top: 3%;
    font-family: 'Elsie', cursive;
    font-size: 30px;
    text-decoration: none;
    color:#fff;
}

.Navigation-Bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Navigation-Bar li {
    float: left;
  height: 100%;
}

.Navigation-Bar li a {
    display: block;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: #fff;
    padding: 9px 16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
}

.Navigation-Bar li:hover{
    background-color: #ADDAEF;
    border-radius: 5px;
}

.Navigation-Bar li:hover a{
    color: #4372E8;
}

/*Background Images*/
.Images{
  animation: animate 20s ease-in-out infinite;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  height: 525px;
  max-width: 1150px;
  width: 100%;
}

@keyframes animate{
  0%, 8%, 100%{
    background-image: url('/static/img/Bg-Image-5.jpg');
    transform: scale(1);
  }
  17%{
    transform: scale(1, 1.05);
  }
  25%, 33%{
    background-image: url('/static/img/Bg-Image-6.jpg');
    transform: scale(1);
  }
  41%{
    transform: scale(1, 1.05);
  }
  50%, 58%{
    background-image: url('/static/img/Bg-Image-7.png');
    transform: scale(1);
  }
  66%{
    transform: scale(1, 1.05);
  }
  75%, 83%{
    background-image: url('/static/img/Bg-Image-8.jpg');
    transform: scale(1);
  }
  91%{
    transform: scale(1, 1.05);
  }
}

.image-overlay{
  background: rgb(0,0,0,0.6);
  height: 525px;
}

/*Section 1*/
.Section-1{
   display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  height: 525px;
  width: 100%;
  margin: 0;
  padding: 0%;

}
.container {
  background-image:url('https://img2.imgtp.com/2024/04/02/8Sz1KJsj.jpg');
  position: relative;
  display: inline-block;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.Section-1 h1{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 3.5%;
  font-family: 'Source Serif Pro', serif;
  font-weight: lighter;
  font-size: 25px;
  color:rgb(253, 253, 253);
}

.Section-1 h2{
  font-family: 'Elsie', cursive;
  color: rgb(255, 166, 0);
  font-size: 80px;
  font-weight: lighter;
  margin-top: 1%;
  margin-left: 4.5%;
  margin-bottom: 0%;
  float: left;
}

.slogan{
  width: 70%;
}

.Section-1 h3{
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
  font-size: 20px;
  color:rgb(253, 253, 253);

}

.Quote{
  position: absolute;
  width: 30%;
  left: 65%;
  top: 50%;
}

.scroll-down{
  margin-left: 19%;
  margin-top: 21%;
  position:absolute;
  text-decoration: none;
  color: rgb(255, 251, 233) ;
}

.scroll-down:hover{
  text-decoration: none;
  color: rgb(255, 251, 233);
}

.fa-angle-down {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 10px); }
  to   { transform: translate(0, -0px); }
}

/*Section 2*/
.Section-2{
  display: inline-block;
  position: relative;
  background-image: url("https://img2.imgtp.com/2024/04/02/AdOQ8nUA.jpg");
  background-size: 100% 110%;
  height: 700px;
  width: 100%;
  padding: 0%;
  margin-bottom: -10px; /* Adjust as needed to remove the gap */
}

.Aboutimgs{
  float: left;
  margin-top: 5%;
  margin-left: 3%;
}

.image1{
  position: relative;
  top: 2%;
  left: 5%;
  border-radius: 10px;

}

.image2{
  position: absolute;
  top: 70%;
  left: 45%;
  border-radius: 10px;
}

.AboutTrans div{
  position: absolute;
  width: 100%;
}

.AboutDetails h1{
  font-family: 'EB Garamond', serif;
  color:  #fff;
  font-size: 35px;
  margin-left: 50%;
  margin-top: 5%;
  position:absolute;
}

.AboutDetails img{
  margin-left: 50%;
  margin-top: 7%;

  position: absolute;
}

.AboutDetails p{
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  position:absolute;
  margin-left: 50%;
  margin-right: 8%;
  margin-top: 10%;
  text-align: justify;
}

.AboutTable table{
  position: absolute;
  margin-left: 49.5%;
  margin-top: 42%;
  height: 0%;
  width: 44%;
}

.AboutTable td{
  font-family: 'EB Garamond', serif;
  font-size: 16px;
 color:  #18326F;
  font-weight: bold;
}

.AboutButton nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.AboutButton a {
  text-decoration: none;
  color: #134970;
}

.AboutButton nav ul li {
  --c: #134970;
  color: var(--c);
  font-size: 18px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  background-color: rgb(255, 251, 233);
  width: 9em;
  height: 2.5em;
  font-weight: bolder;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin-top: 48%;
  margin-left: 50%;
}

.AboutButton nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.AboutButton nav ul li:hover a{
  color: whitesmoke ;
}

.AboutButton nav ul li:hover span {
  transform: translateY(0) scale(2);
}

.AboutButton nav ul li span:nth-child(1) {
  --n: 1;
}

.AboutButton nav ul li span:nth-child(2) {
  --n: 2;
}

.AboutButton nav ul li span:nth-child(3) {
  --n: 3;
}

.AboutButton nav ul li span:nth-child(4) {
  --n: 4;
}

 /*Section 3*/
.Section-3{
  display: inline-block;
  position: relative;
  /*background-image: url("https://img2.imgtp.com/2024/04/02/nHnqvq4C.png");*/
  background: -webkit-linear-gradient(360deg, #2f5ba4,#040d18);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(360deg, #2f5ba4,#040d18);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 650px;
  width: 100%;
  padding: 0%;

}

.ServicesTitle h1{
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  color:#acafce;
  margin-top: 7%;
  letter-spacing: 0.3em;
  margin-bottom: 0;
}

.ServicesTitle h2{
  font-family: 'EB Garamond', serif;
  color:#E5BEBB;
  font-size: 35px;
  text-align: center;
  margin-top: 0.5%;
  margin-bottom: 0;
  position: absolute;
  margin-left: 35.5%;
}

.Section-3 img{

  margin-left: 47%;
  margin-top: 2.5%;
  position: absolute;
}

.Services{
  height: 50.5%;
  width: 20%;
  margin-top: 13%;
  margin-left: 5%;
  background-color: #B2ACC7;
  display: inline-block;
}
.Services.Service-2{
  margin-left: 3%;
}
.Services.Service-3{
  margin-left: 3%;
}
.Services.Service-4{
  margin-left: 3%;
}

.Services img{
  position: absolute;
}

.ServiceDetails{
  margin-top: 22%;
  position: relative;
  background-color: #0A182C;
}

/*Service Headings Padding Margin Setting*/
.ServiceDetails h1{
  font-family: 'EB Garamond', serif;
  font-size: 26px;
  text-align: center;
  color: rgb(255, 251, 233);
}
.ServiceDetails.Service-1{
  margin-top: 110%;
}
.ServiceDetails.Service-1 h1{
  padding: 21px 0px;
}
.ServiceDetails.Service-2{
  margin-top: 110%;
}
.ServiceDetails.Service-2 h1{
  padding: 21px 0px;
}
.ServiceDetails.Service-3{
  margin-top: 110%;
}
.ServiceDetails.Service-3 h1{
  padding: 21px 0px;
}
.ServiceDetails.Service-4{
  margin-top: 110%;
}
.ServiceDetails.Service-4 h1{
  padding: 21px 0px;
}

.ServiceLinks{
  position: absolute;
  z-index: 9;
  margin-top: 20%;
  margin-left: 1%;
  display: none;
}

.dot{
  height: 45px;
  width: 45px;
  background-color:rgb(255, 166, 0);
  border-radius: 50%;
  display: inline-block;
}

/*Services Hover Animations*/
.Services:hover{
  transition: transform .5s;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px black, 0 0 10px rgb(112, 24, 4), 0 0 4px rgb(84, 18, 3);
}
.Services:hover .dot{
  margin-top: 409%;
  margin-left: 19%;
}
.Services:hover .ServiceLinks{
  display: block;
  animation: fade-left .3s ease-in;
}

/*Section-4*/
.Section-4{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 100%;
  background: -webkit-linear-gradient(180deg, #2f5aa2,#88cbeb);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #2f5aa2,#88cbeb);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-bottom: -10px; /* Adjust as needed to remove the gap */
}

.ChooseDetails h1{
  font-family: 'EB Garamond', serif;
  color:  rgb(255, 251, 233);
  font-size: 35px;
  text-align: center;
  margin-top: 4%;
  margin-left: 43.7%;
  margin-bottom: 0;
  position: absolute;

}

.ChooseDetails img{
  margin-left: 46.4%;
  margin-top: 6%;
  position: absolute;
}

.ChooseDetails p{
  position: absolute;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  text-align: left;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 14%;

}

/*Section 5*/
.Section-5{
  display: inline-block;
  position: relative;
  height: 850px;
  width: 100%;
  padding: 0%;
  background-image: url('https://img2.imgtp.com/2024/04/02/8Sz1KJsj.jpg');
  background-size: 1150px 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

/*Statistic Counter 1*/
.Statistic-Title{
  position: absolute;
  margin-top: 2.7%;
  margin-left: 35%;
  z-index: 9;
}

.Statistic-Title h1{
  background-color: rgb(112, 24, 4);
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: rgb(255, 251, 233);
  padding: 12px 30px;
  font-size: 26px;
}

.Statistic {
  background-color: rgb(0, 0, 0, 0.8);
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 7%;
  padding-bottom: 2%;
  padding-top: 4%;
  border-radius: 20px;
}

.counter-count{
  text-align: center;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

.counter-count .count{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  justify-content: center;
  height: 75px;
  margin: 0 auto 20px;
  width: 180px;
}

.counter-count h1{
  color: white;
  font-weight: lighter;
  font-family: 'EB Garamond', serif;
  border-top: 1px solid white;
  padding-top: 3%;
  font-size: 1.7rem;
}

/*Statistic Paragraph*/
.Statistic-Title2{
  position: absolute;
  margin-top: 5.7%;
  margin-left: 20%;
  z-index: 9;
}

.Statistic-Title2 h1{
  background-color: rgb(112, 24, 4);
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: rgb(255, 251, 233);
  padding: 12px 20px;
  font-size: 18px;
}

.Statistic-Para{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 9%;
  margin-left: 5%;
  margin-right: 45%;
  border-radius: 20px;
}

.Statistic-Para p{
  color: white;
  font-family: 'EB Garamond', serif;
  text-align: justify;
  padding: 10px 20px;
  padding-top: 20px;
  font-size: 22px;
}

/*Statistic Counter2*/
.Statistic2 {
  display: inline-block;
  margin-left: 59%;
  margin-right: 3%;
  justify-content: center;
  margin-top: 0%;
  padding-top: 4%;
}

.counter-count2{
  text-align: center;
  display: inline-grid;
}

.counter-count2 .count{
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  justify-content: center;
  height: 140px;
  width: 140px;
  margin-right: 50px;
  margin-left: 25px;
}

.counter-count2 h1{
  color: rgb(255, 251, 233);
  background-color: rgb(112, 24, 4);
  border-radius: 10px;
  font-weight: lighter;
  font-family: 'EB Garamond', serif;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 140px;
  text-align: center;
  font-size: 1.7rem;
}

/*Section 6*/
.Section-6{
  display: inline-block;
  position: relative;
  height: 650px;
  width: 100%;
  margin-top: 30px;
  background: -webkit-linear-gradient(180deg, #2f5aa2,#88cbeb);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #2f5aa2,#88cbeb);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 margin-top: -10px; /* Adjust as needed to remove the gap */
}

.News{
  height: 40%;
  width: 30%;
  margin-top: 12%;
  margin-left: 4.5%;
  background-color: rgb(255, 251, 233);
  display: inline-block;

}
.News.News-2{
  margin-left: 0%;
}
.News.News-3{
  margin-left: 0%;
}

.News img{
  position: absolute;
}

.NewsHeading{
  margin-top: 62%;
  margin-left: 5%;
  padding: 1px 10px 12px 10px;
  position: relative;
  width: 85%;
  background-color: rgb(112, 24, 4);
  text-align: justify;
}

.NewsHeading p{
  font-family: 'Source Serif Pro', serif;
  font-size: 14px;
  color: white;
  margin-bottom: 1.5%;
}

.NewsHeading a{
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.NewsHeading a:hover{
  text-shadow: 1px 1px 2px white;
}


/*Section 7 Video*/
.Section-7{
  display: inline-block;
  position: relative;
  background-image: linear-gradient(81deg, #e27f7a, #d59095, #c3a0b1, #acafce);
  height: 877px;
  width: 100%;
}

.Video{
  height: 440px;
  width: 100%;
  position: absolute;
  z-index: 9;
  margin: 8pc 0pc 0pc 0pc;
}

.scale-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1148.5px;
  height: 647px;
}

/*Section 8 Footer*/
.Section-8{
  display: inline-block;
  position: relative;
  background-color: #122861;
  height: 320px;
  width: 100%;
}

.Section-8 img{
  position: absolute;
  margin-top: 1%;
}

.overlay{
  background: rgba(0, 0, 0, 0.3);
  height: 320px;
}

.Column{
  height: 60%;
  width: 35%;
  margin-top: 4.5%;
  margin-left: 4%;
  display: inline-block;
  position: absolute;
  z-index: 9;
}
.Column.Column-2{
  width: 14%;
  margin-left: 40.5%;
}
.Column.Column-3{
  width: 21%;
  margin-left: 56%;
}
.Column.Column-4{
  width: 17%;
  margin-left: 78.5%;
  margin-right: 4%;
}

.footer-h1{
  margin-top: 0;
  font-size: 30px;
  font-family: 'EB Garamond', serif;
  color: rgb(255, 251, 233);
}

.Column-1 p{
  font-family: 'EB Garamond', serif;
  color: rgb(255, 251, 233);
  font-size: 18px;
  text-align: justify;
  margin-right: 5%;
}

.Column-2 a{
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: rgb(255, 251, 233);
  margin-top: 4%;
}

.Column-2 a:hover{
  text-shadow: 1px 1px 2px white;
}

.Column-2 p{
  margin-top: 0;
  margin-bottom: 5px;
}

.Column-3 p{
  color: rgb(255, 251, 233);
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}

.Column-4{
  text-align: center;
}

.Column-4 a{
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  color: white;
  padding: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 100%;
}


/*Sections Animations*/
section{
  position: relative;
}
section:nth-child(1){
  height: 525px;
}
section:nth-child(2){
  height: 650px;
  background: rgb(255, 251, 233);
}
section:nth-child(3){
  height: 650px;
  background: white;
}
section:nth-child(4){
  height: 300px;
  background: rgb(255, 251, 233);
}
section:nth-child(5){
  height: 820px;
}
section:nth-child(6){
  height: 650px;
}
section:nth-child(7){
  height: 877px;
}
section:nth-child(8){
  height: 320px;
}


/*Section Content Animation*/
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

.Statistic-Para.reveal{
  position: absolute;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}



.hero-home {
  min-height: 30rem;
  display: inline-block;
  position: relative;
  background-image: linear-gradient(to right top, #0e2950, #005788, #008aad, #00beb5, #10efa3);
  background-size: 100% 110%;
  height: 650px;
  width: 100%;
  padding: 0%;
}

.align-items-center {
  align-items: center !important;
}

.mt-5 {
  margin-top: 0!important;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
  margin-left: 50px;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-md-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
  font-size: 64px;
  font-family: '宋体';

}

.text-primary {
  --bs-text-opacity: 1;
  color:#0F1C2D !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color:#fff!important;
  font-size: 20px;
}
.text-dark{
  color: #fff!important;
}
.ms-3 {
  margin-left: 1rem !important;
}

.d-md-block {
  display: block !important;
}

.d-block {
  display: block !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.col-md-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
  margin-bottom: 50px;
}

.img-gradient {
  position: relative;
  z-index: 99;
}
.line-height-sm{
  color:#C3DFFA;!important;
}
.img-gradient::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 30%;
  position: absolute;
  bottom: -2rem;
  left: -2rem;
  background: linear-gradient(45deg, #0F4C81, #00B7FF);
  border-radius: 0.25rem;
  z-index: -1;
  opacity: 0.5;
}

.img-gradient-left::before, .img-gradient-right::before {
  width: 70%;
  height: 70%;
  padding-bottom: 0;
}

.img-gradient-right::before {
  left: auto;
  right: -2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.video-btn {
  background: linear-gradient(to right, #172F6D, #0BB9FF);
  color: #fff;
  border-radius: 0.25rem;
  width: 30%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.video-btn:hover {
  background: linear-gradient(to right, #0BB9FF, #172F6D);
}

.video-btn-icon {
  font-size: 1.5rem;
}

.video-btn-text {
  margin-left: 0.8rem;

}

.video-btn-text .text-muted {
  color: #fff;
}

.video-btn-text .text-uppercase {
  color: #fff;
}
