@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  background-image: linear-gradient(to right top, #0e2950, #005788, #008aad, #00beb5, #10efa3);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hero-home {
  min-height: 30rem;
}

.align-items-center {
  align-items: center !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-md-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
  font-size: 64px;
  font-family: '宋体';

}

.text-primary {
  --bs-text-opacity: 1;
  color: #fff !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #fff!important;
  font-size: 20px;
}
.text-dark{
  color: #fff!important;
}
.ms-3 {
  margin-left: 1rem !important;
}

.d-md-block {
  display: block !important;
}

.d-block {
  display: block !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.col-md-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.img-gradient {
  position: relative;
  z-index: 99;
}
.line-height-sm{
  color:#C3DFFA;!important;
}
.img-gradient::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 30%;
  position: absolute;
  bottom: -2rem;
  left: -2rem;
  background: linear-gradient(45deg, #0F4C81, #00B7FF);
  border-radius: 0.25rem;
  z-index: -1;
  opacity: 0.5;
}

.img-gradient-left::before, .img-gradient-right::before {
  width: 70%;
  height: 70%;
  padding-bottom: 0;
}

.img-gradient-right::before {
  left: auto;
  right: -2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.video-btn {
  background-color:#0F4C81;
  color: #fff;
  border-radius: 0.25rem;
  width: 30%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.video-btn:hover {
  background-color: #29237B;
}

.video-btn-icon {
  font-size: 1.5rem;
}

.video-btn-text {
  margin-left: 0.8rem;

}

.video-btn-text .text-muted {
  color: #fff;
}

.video-btn-text .text-uppercase {
  color: #fff;
}
