@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

html {
    scroll-behavior: smooth;
}

title{
    font-family: 'Elsie',cursive;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1150px;
    min-width: 1140px;
}

.Section-1{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0%;
}

/*Navigation Bar*/
.Nav-Bar{
    background: #122861;
  height: 65px;
}

.logo{
    position: absolute;
    margin-left: 5%;
  margin-top:-15px;
}


.topnav-right{
    float:right;
    margin-right: 2%;
  height: 65px;
}

a.topnav-left {
    position: absolute;
    left: 13.5%;
    top: 2%;
      font-family: "Noto Serif SC", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color:#fff;
}

.Navigation-Bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Navigation-Bar li {
    float: left;
  height: 100%;
}

.Navigation-Bar li a {
    display: block;
    font-family: "Noto Serif SC", sans-serif;
    text-align: center;
    color: #fff;
    padding: 9px 16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
}

.Navigation-Bar li:hover{
    background-color: #ADDAEF;
    border-radius: 5px;
}

.Navigation-Bar li:hover a{
    color: #4372E8;
}

.Content{
    position: relative;
    display: inline-block;
    width: 100%;
}


.section-2
{
    display: flex;
    justify-content: center; /* 水平居中其子元素 */
    height: 700px;
    background-image: linear-gradient(to right top, #0e2950, #005788, #008aad, #00beb5, #10efa3);

}
/* 视频框 */
.video {
    position: relative;
    width: 100%;

    max-width: 1200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.Realvideo {
        text-align: center; /* 水平居中 */
        margin-top: 100px;
    }

/* 文本按钮框容器样式 */
.text-box {
    width: 30%; /* 文本框占视频框宽度的30% */
    padding: 20px;
    margin: auto; /* 水平居中 */
}
.text-box p {
    font-size: 16px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
    margin: 10px 0; /* 设置段落之间的间距 */
    padding: 10px; /* 添加内边距 */
    background-color: #abecd6; /* 设置背景颜色 */
    border-radius: 5px; /* 设置圆角 */
}


button {
  border: 0;
  margin: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 50px;
  color: white;
  outline: none;
  position: relative;
}

button:before{
  content: '';
  display: block;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  border-radius: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.start-button {
    background-image: linear-gradient(to top, #13547a 0%, #330867 100%);
    box-shadow: 0 4px 15px 0 #e9defa;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 修改为居中对齐 */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%; /* 设为百分比宽度 */
    margin: 0 auto; /* 水平居中 */
}


    .image-container img {
        margin: 10px; /* 图像间距 */
        max-width: 150px; /* 图像最大宽度 */
        max-height: 150px; /* 图像最大高度 */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* 图像阴影效果 */
    }


/* Section-3 */
.Section-3.result {
    text-align: center; /* 让h1水平居中 */

}
.result {
    color: white; /* 设置字体颜色为白色 */
}

.Section-3 {
    display: inline-block;
    position: relative;
    background-image: url('https://img2.imgtp.com/2024/04/02/AdOQ8nUA.jpg');
    background-size: cover; /* 背景图片尺寸自适应 */
    background-repeat: no-repeat; /* 不重复平铺背景图片 */
    height: 200px;
    width: 100%;
    text-align: center; /* 居中内容 */
}


.Section-3 img {
    position: absolute;
    top: 50%; /* 图片顶部位于父元素中垂直方向的50%处 */
    left: 50%; /* 图片左侧位于父元素中水平方向的50%处 */
    transform: translate(-50%, -50%); /* 将图片自身的中心点定位到父元素的中心 */
}

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.html {
    width: 90%;
    background-image: -webkit-linear-gradient(180deg, #2f5aa2,#88cbeb);;
}

.guidelines {
    position: absolute;
    margin-top: 7.5%;
    margin-left: 6%;
}

.guidelines li {
    font-family: 'EB Garamond', serif;
    font-size: 26px;
    font-style: oblique;
}
