{% extends "base.html" %}

{% block content %}
 <head>
     <meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/video.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Fire Eye - About</title>
</head>

<!--导航栏-->
<section>
<div class="Images"></div>
<section id="section-1">
    <div class="Nav-Bar">
        <ul class="Navigation-Bar">
            <a class="title" href="{{url_for('index')}}"><img class="logo" src="{{url_for('static', filename='/img/DecCar/icon.png')}}" width="90px" height="100px"></a>
            <a class="topnav-left" href="{{url_for('index')}}">清醒派</a>
        <div class="topnav-right">
            <li class="Nav-Link"><a  href="{{url_for('index')}}"><i style="padding-right:10px;" class="fa fa-home"></i>首页</a></li>
            <li class="Nav-Link"><a  href="{{url_for('about')}}"><i style="padding-right:10px;" class="fa fa-tree"></i>关于</a></li>
            <li class="Nav-Link"><a  href="{{url_for('video',)}}"><i style="padding-right:10px;" class="fa fa-list-ul"></i>检测</a></li>
            <li class="Nav-Link"><a  href="{{url_for('report', )}}"><i style="padding-right:10px;" class="fa fa-leaf"></i>报告</a></li>
            <li class="Nav-Link"><a  href="{{url_for('index',)}}"><i style="padding-right:10px;" class="fa fa-phone"></i>联系方式</a></li>
        </div>
        </ul>
        </div>

</section>
</section>

<!--部署--->
<div class="section-2">
    <!--这个是四张可视化的图片，通过访问graph-feed实时获取-->
    <script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
    <div class="image-container">
        <img src="{{ url_for('graph_feed', filename='perclos', xlabel='DurationOfSession', ylabel='PercentageOfEyeClosure', title='PercentageOfEyeClosureDuringSessions') }}" onload="imageloaded();">
         <img src="{{ url_for('graph_feed',filename='head', xlabel='DurationOfSession', ylabel='Headtilt', title='HeadTiltDuringTheSession') }}" onload="imageloaded();">
         <img src="{{ url_for('graph_feed',filename='ear', xlabel='Duration of session', ylabel='EyeAspectRatio', title='EyeAspectRatioDuringSession') }}" onload="imageloaded();">
         <img src="{{ url_for('graph_feed',filename='mar', xlabel='DurationOfSession', ylabel='MouthAspectRatio', title='MouthAspectRatioDuringTheSession') }}" onload="imageloaded();">
    </div>

    <div class="video">
<!--    这个是视频框，通过访问video-feed获取每一帧-->
    <img src="{{ url_for('video_feed') }}" onload="imageloaded();"/>
    <h1 id='feed' class="centered">正在加载实时视频</h1>
    <div id='fancy-spinner' class="fancy-spinner precentered" >
        <div id='ring' class="ring"></div>
        <div id='dot'  class="dot"></div>
    </div>
    </div>

    <div class="text-box">
        <!-- 在视频框的右侧添加文本框 -->
        <h2>This is a text box</h2>
        <p>Here you can put your text content</p>
    </div>
</div>


<section>
    <div class="Section-3">
        <img src="../static/img/DecCar/icon.png" height="100px" width="85px">
        <h2 class="result">疲劳程度</h2>
        <div class="container">
            <div class="skills html">90%</div>
        </div>
    </div>
</section>

        // 处理帧值更新事件
        socket.on('frame_values', function(frameValues) {
            const frameValuesList = document.getElementById('frame-values');

            // 清空列表
            frameValuesList.innerHTML = '';

            // 遍历帧值对象的属性并将其添加到列表中
            for (const key in frameValues) {
                if (frameValues.hasOwnProperty(key)) {
                    const value = frameValues[key];
                    const listItem = document.createElement('li');
                    listItem.textContent = `${key}: ${value}`;
                    frameValuesList.appendChild(listItem);
                }
            }
        });
    </script>
{% endblock content %}